# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Python cache
.pytest_cache/
.mypy_cache/
.cache/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# AI Models
models/

# Temporary
tmp/
temp/

# SQLite
*.db